blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
button {
  border: 0;
  background-color: transparent;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
a {
  text-decoration-line: none;
}

@font-face {
  font-family: 'Pretendard Regular';
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-Regular.ttf') format('truetype'),
    url('../assets/fonts/Pretendard-Regular.otf') format('opentype'),
    url('../assets/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Medium';
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-Medium.ttf') format('truetype'),
    url('../assets/fonts/Pretendard-Medium.otf') format('opentype'),
    url('../assets/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Bold';
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Pretendard-Bold.ttf') format('truetype'),
    url('../assets/fonts/Pretendard-Bold.otf') format('opentype'),
    url('../assets/fonts/Pretendard-Bold.woff') format('woff');
}
