@media (max-width: 879px) {
  .card-gap {
    row-gap: 1rem;
    column-gap: 1.5rem;
  }
  .card-container {
    justify-content: center;
  }
}

@media (min-width: 880px) {
  .card-gap {
    row-gap: 2rem;
    column-gap: 3.5rem;
  }
}

.project-list {
  color: #d3d3d3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
