.detail-container {
  width: 932px;
}

.name {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 14px;
}
.hightlight {
  display: flex;
  gap: 1rem;
}

.markdown {
  color: rgb(220, 220, 220);
}

.markdown h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: white;
}

.markdown h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: white;
}

.markdown h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: white;
}

.markdown ul {
  list-style: disc inside;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.markdown ol {
  list-style: decimal inside;
  font-weight: 700;
  color: #42b4f1;
}

.markdown P {
  margin-bottom: 1rem;
  line-height: 1.7;
}

.markdown img {
  cursor: pointer;
  max-width: 932px;
  max-height: 500px;
  margin-bottom: 0.5rem;
}

.markdown a {
  text-decoration-line: underline;
  color: white;
}
.markdown a:hover {
  color: #66c0f4;
}

.markdown svg {
  height: 2rem;
  margin-right: 1rem;
}

.markdown strong {
  font-weight: 700;
  color: #42b4f1;
}
