.modal-background {
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  z-index: 900;
  background: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 1000;
  border-radius: 3px;
  padding: 11px 16px 16px;
  margin-top: 2rem;
  background: linear-gradient(135deg, #356480 5%, #1a303d 95%);
}

.modal-label {
  margin-bottom: 5px;
  color: #dcdcdc;
}

.modal-picture {
  display: block;
  margin: auto;
  max-width: 90vw;
  max-height: 80vh;
}
