.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  height: 100%;
  background-color: #24282f;
  border-right: 3px solid #17191b;
}

.all-project {
  display: flex;
  align-items: center;
  color: white;
  height: 1.6rem;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.all-project:hover {
  background-color: #323a4b;
}

.collections-container {
  display: flex;
  flex-direction: column;
}

.collection {
  display: flex;
  align-items: center;
  color: white;
  height: 1.6rem;
  padding-left: 1.5rem;
}
.collection:hover {
  background-color: #323a4b;
}

.collection-active {
  background-color: #3e4e69;
}
.collection-active:hover {
  background-color: #586f96;
}
